<h1 class="homepageH1">SkyHawk Drones </h1>
<div class="homepage-container">
  <div class="homepageContent">
    <h2>Welcome to our company</h2>
    <p>Here you will find a wide variety of drones for all your needs, from toy
      drones to professional drones for photography and videography. Whether
      you're a hobbyist or a professional, we have the perfect drone for you.
      Browse our selection and find the perfect drone to suit your needs and
      budget. We are committed to providing the best customer service and
      support, so don't hesitate to reach out to us with any questions. Thank
      you for choosing us as your drone provider.</p>
  </div>
  <div class="myPic">
    <img src="/images/drone1.jpg" alt="drone1" />
  </div>
</div>